.button {
  display: inline-flex;
  height: 5rem;
  align-items: center;
  padding: 1rem 1.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: var(--font-sans);
  font-weight: 500;
  text-decoration: none;

  &:active {
    user-select: none;
  }
}

.theme-primary {
  background: black;
  color: white;

  &:hover {
    border-color: black;
    background: transparent;
    color: black;
  }
}

.theme-secondary {
  border-color: black;
  background: white;
  color: black;

  &:hover {
    background: black;
    color: white;
  }
}

.size-big {
  height: 7rem;
  padding: 1.5rem 2.25rem;
  font-size: 2rem;
}

.size-jumbo {
  height: 10rem;
  padding: 2rem 3rem;
  font-size: 3rem;
}
