:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --outline-focus-offset: 1px;
  --outline-focus-width: 3px;
}

body {
  height: 100vh;
  font-family: var(--font-sans);
  font-size: 1.6rem;
}

:focus {
  outline-style: solid;
  outline-color: transparent;
}

:focus-visible {
  outline-width: var(--outline-focus-width);
  outline-color: var(--color-primary);
  outline-offset: var(--outline-focus-offset);
}
