:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: var(--font-sans);
  font-size: 1.6rem;
}

:focus {
  outline-color: transparent;
  outline-style: solid;
}

:focus-visible {
  outline-color: var(--color-primary);
  outline-offset: var(--outline-focus-offset);
  outline-width: var(--outline-focus);
}
